body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #000;
    color: #fff;
}

.navbar {
    width: 100%;
    height: 60px;
    background: #111;
    border-bottom: 2px solid red;
    display: flex;
    align-items: center;
    padding: 0 15px;
    gap: 15px;
}

.navbar a {
    font-size: 28px;
    color: red;
    text-decoration: none;
}

.navbar input {
    flex: 1;
    height: 35px;
    border: 1px solid red;
    background: #000;
    color: white;
    padding: 5px 10px;
    border-radius: 6px;
}

.nav-icons .icon {
    color: red;
    font-size: 22px;
    cursor: pointer;
}

.content {
    max-width: 1100px;
    margin: 20px auto;
    padding: 15px;
}

.video-container {
    background: #111;
    padding: 10px;
    border-radius: 10px;
}

h1 {
    margin-top: 15px;
}

.video-info {
    color: #ccc;
    margin-bottom: 20px;
}

.divider {
    border: 0;
    border-top: 1px solid #333;
    margin: 25px 0;
}

.recommended h2 {
    color: red;
    margin-bottom: 15px;
}

.recommended-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    gap: 15px;
}

.rec-card {
    background: #111;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
}

.rec-card:hover {
    background: #222;
}

.rec-thumb {
    width: 100%;
    height: 120px;
    background: #333;
    border-radius: 6px;
}

.rec-title {
    margin-top: 10px;
    font-size: 14px;
}
